@import "modulos/principal.scss";
@import "modulos/navegancion.scss";
@import "modulos/carrusel.scss";
@import "modulos/footer.scss";
@import "modulos/presentacion.scss";
@import "modulos/galeria-talleres.scss";
@import "modulos/objetivos.scss";
@import "modulos/explicacion-talleres.scss";