#main .carousel-item img {
  position: relative;
  padding: 0%;
  margin: 0%;
  bottom: 0%;
  justify-items: start;
  //max-width: 100%;
  max-height: 80vh;
  
  object-fit: scale-down;
  
}

  
  .overlay{
    font-family: $fuente_principal;
    font-size: 25px;
    position: absolute;
    top: 0 ;
    bottom: 0 ;
    left: 0 ;
    right: 0 ;
    background-color: rgba(0,0,0,0.3);
    color: white;
      .container{
        
        max-width: 80%;
        text-align: justify;

      }
  }

  
