.footer .pie {
    margin: 0%;
    padding: 0%;
    //margin-top: 20px;
    color: blanchedalmond;
   // top: 20px;
   // bottom: 20px;
    background-color: $colorPrincipal;
    justify-items: center;
    align-items: center;
    
    img{
        width: 150px;
        top: 10px;
        bottom: 10px;
    }
}