.footer .container {
    margin: 0%;
    padding: 0%;
    margin-top: 20px;
    color: blanchedalmond;
    top: 20px;
    bottom: 20px;
    background-color: $color_principal;
    justify-items: center;
    img{
        width: 80px;
        top: 10px;
        bottom: 10px;
    }
}