

section {
    background-color: $colorNav;
    .overlay2{
        font-family: $fuente_principal;
        font-size: 20px;
        position: relative;
        top: 0 ;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
        //background-color: rgba(19, 231, 19, 0.26);
        background-color:#b8f0ed ;
        color: balck;
    }
    /*  .bg-primary{
        background-color: purple !important;
        height: 40px;
        color: black;
    } */

}