$fuente_principal:  'Open Sans', sans-serif; ;

$colorPrincipal:  #d7a2ff;
$colorNav:#E2CEE5;
$colorCarrusel: #c59fcb;
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
      
    
}


main {
    background-color: $colorNav;
}